[tool.poetry]
name = "finance-tracker"
version = "0.1.0"
description = "oui"
authors = ["Chloe Adnet <chloe.adnet@icloud.com>"]
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.11"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
